<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Signup</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    
    <h1>Hello Guys Welcome</h1>
    <img src="/image/rose-729509_640.jpg" alt="Flower" class="flower">
<div class="log">
    <a href="/signup">Log out</a>
</div>
</body>
</html>